.wrap {
    width: 400px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -200px;
    overflow: hidden;
}

.circleLeft {
    width: 100px;
    height: 100px;
    background-color: #fc0;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
}

.circleRight {
     width: 100px;
    height: 100px;
    background-color: #fc0;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 350px;
}